#homeMenu {
    height: 10%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    font-size: 20pt;
}

#gameSetUp {
    border: 1px solid green;
    height: 90%;
    width: 99%;
    display: flex;
    gap: 10%;
    background-color: rgba(92, 86, 86, 0.493);
    
}

#allRoomsContainer {
    position: relative;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    height: 80%;
    width: 30%;
    margin-left: 5%;
    gap: 1%;
    /* background-image: url("https://i.pinimg.com/564x/9a/b9/d2/9ab9d210c745e2a3d588a29c10fa440f.jpg");
    background-size: contain; */
    /* background-color: rgb(29, 47, 131);
    outline: solid .1em rgb(119, 70, 24); */

    background-image: linear-gradient(to right, rgb(14, 14, 66), rgb(28, 68, 105));
    /* background-image: linear-gradient(to right, rgb(11, 46, 14), rgb(25, 145, 45)); */
    box-shadow: 0 0 1em .1em black;
    overflow: hidden;
}

.roomContainerLabels {
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(110, 109, 109);
    background-image: linear-gradient(black, rgb(68, 67, 67));
    color: white;
    /* border-bottom: 1px solid black; */
    border: .1em solid black;
    /* justify-content: space-evenly; */
}

.roomContainerLabels div {
    width: 33%;
}

#rooms {
    /* background-color: aliceblue; */
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5%;
    /* justify-content: center; */
    /* align-items: center; */
    
}

.roomContainer {
    margin-left: 2%;
    background-color: rgba(16, 16, 199, 0.39);
    width: 96%;
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    color: white;
   
}

.roomContainer div {
    display: flex;
    justify-content: center;
    width: 33.333%;
}

.roomContainer div button {
    background-image: linear-gradient(to right, rgb(104, 16, 16), red);
    color: white;
    font-weight: bold;
}

.roomContainer div button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 .05em gold;
}

#allRoomsCards {
    position: absolute;
    bottom: -5%;
    right: -2%;
    background-color: rgba(255, 0, 0, 0);
    height: 30%;
    width: 30%;
    transform: rotate(-15deg);
}
#allRoomsCards img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#allRoomsPokerChips {
    background-color: rgba(240, 248, 255, 0);
    position: absolute;
    height: 20%;
    width: 25%;
    bottom: -3%;
    left: -4%;
}

#allRoomsPokerChips img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#gameSetUpInfo {
    /* border: 1px solid red; */
    height: 95%;
    width: 50%;
    margin-right: 5%;
    
}

#requiredGameDataTitle {
    height: 5%;
    /* background-color: grey; */
    background-image: linear-gradient(black, rgb(68, 67, 67));
    border: solid .1em black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 3px rgb(12, 12, 12);
    /* box-shadow: 0 0 1em .1em black; */
}

#requiredGameData {
    padding-top: 2%;
    padding-left: 2%;
    height: 35%;
    border: solid .1em black;
    font-family:Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(14, 14, 66), rgb(28, 68, 105));
    /* box-shadow: 0 0 1em .1em black; */
}

#currIcon {
    margin-top: 1%;
    background-image: linear-gradient(to right, black, rgb(39, 38, 38));
    height: 30%;
    width: 15%;
    border: solid .1em black;
}

#currIcon img {
    height: 100%;
    width: 100%;
}

#iconSelectTitle {
    margin-top: 2%;
    height: 10%;
    /* background-color: rgb(128, 128, 128); */
    background-image: linear-gradient(black, rgb(68, 67, 67));
    border: solid .1em black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:xx-large;
}

#iconSelectTitle h3 {
    text-shadow: 1px 1px 3px rgb(12, 12, 12);
}
#iconSelect {
    /* display: flex;
    flex-direction: column; */
    height: 45%;
    width: 100%;
    /* border: 2px solid blue; */

    /* background-color: rgb(28, 68, 105); */
    background-image: linear-gradient(to right, rgb(14, 14, 66), rgb(28, 68, 105));
    gap: 2%;
}

#selectableIcons1 {
    /* background-color: rgba(37, 39, 39, 0); */
    height: 47%;
    width: 100%;
    display: flex;
    /* padding-left: 2%;
    padding-right: 2%; */
    justify-content: center;
    gap: 3%;
}

#selectableIcons2 {
    padding-top: 2%;
    /* background-color: rgb(37, 39, 39); */
    height: 47%;
    width: 100%;
    display: flex;
    /* padding-left: 2%;
    padding-right: 2%; */
    justify-content: center;
    gap: 3%;
}

.guestIconCards {
    width: 20%;
    height: 100%;
    /* background-color: rgb(23, 23, 163); */
    background-color: rgb(24, 58, 90);
    /* background: radial-gradient(#8d8e91b7 75%, #505255b7, #19191a); */
    border: .1em solid rgb(15, 15, 15);
    box-shadow: 0 .2em .5em 0 rgb(0, 0, 0);
    cursor: pointer;
}

.guestIconCards:hover {
    box-shadow: 0 0 .5em .1em gold;
    transform: translate3d(0, -5%, 0);
    /* animation: bounce 1s; */
}

@keyframes bounce { 
    /* from { 
        transform: translate3d(0, 0, 0); 
    } 
    to { 
        transform: translate3d(0, -5%, 0); 
    } */
} 

.guestIconCards img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
