#shop-container {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#items-display {
    background-color: rgb(10, 20, 20);
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;

    padding-top: 10px;
    padding-bottom: 40px;
    justify-content: space-between;
    overflow-y: auto;
    max-height: 70vh;
}

.icon-container, .tag-container, .emote-container {
    background: linear-gradient(rgb(50, 50, 50), rgb(10, 20, 20), rgb(50, 50, 50));
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.icon-container {
    border: 1px solid rgb(161, 142, 31);
}

.icon-container:hover {
    box-shadow: 2px 2px 30px rgb(161, 142, 31);
}

#toggle-button {
    padding: 20px;
    color: white;
    border: 2px solid white;
    background: transparent;
    display: block;
    margin: 40px auto;
    font-size: 40px;
    border-radius: 25px;
    transition: .5s;
}

.selected {
    background-color: white;
}

#toggle-button:hover {
    background-color: white;
    color: black;
}

#toggle-button:active {
    font-size: 30px;
}

.itemButton {
    color: white;
    border: 1px solid white;
    background: transparent;
    margin: 0 auto;
    display: block;
    font-size: 20px;
    transition: .5s;
}

.itemButton:hover {
    background-color: white;
    color: black;
}

.itemButton:active {
    font-size: 10px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
}

#back-button {
    position: absolute;
    top: 25px;
    left: 25px;
    background: transparent;
    color: white;
    font-size: 25px;
    border: 1px solid white;
}

.heading-title {
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    font-size: 100px;
}

#featuredBar {
    background-color: rgb(81, 87, 102);
    padding-top: 1%;
    padding-left: 1%;
    margin-bottom: 1%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20pt;
    font-weight: bolder;
}

#ownedIconMark {
    height: 20px;
    width: 20px;
}

#ownedIconMark img {
    height: 100%;
    width: 100%;
}

.ownedIconLabel {
   display: flex;
   gap: 8%;
}


@media only screen and (max-width: 768px) {
    #items-display {
        width: 90%;
        margin: auto;
    }
}


@media only screen and (max-width: 480px) {
    #items-display {
        width: 95%;
        margin: auto;
    }
}